html {
  scroll-padding-top: 50px;
}
*{
    margin: 0;
    box-sizing: content-box;

}
.chef{
            background-color: #FFFFFF;
display: flex;
justify-content: center;
justify-content: space-around;
align-items: center;
align-content: space-around;
    gap: 20px;
position: fixed;
left: 0;
right: 0;
}
.about{
    font-size: large;
    font-family: sans-serif;
    font-weight: 400;
    flex-grow:0 ;
}
.about span{
    color: red;
    margin: 0;
    padding: 0;
    
}

.aa{
color: black;
    text-decoration: none;
}
.contant ul{
list-style: none;
text-decoration-style: none;
    flex-grow: 2;
padding: 40px;
align-items: center;
display: flex;
margin: 0;
gap: 25px;
transition: border-bottom 1s 1s linear, color 1s 10s ease-in-out , active 1s 1s linear;
transform: translate(0);

}
.contant li a{
text-decoration: none;
font-size: large;
color: darkgray;

}
.galler{
     border-bottom:4px solid red ;
}
.contant ul  :active{
    color: black;
    border-bottom:3px solid red ;
}

.HOME{
    background-color: #EEEEEE;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
 z-index: 9999;
    gap: 20px;
}
.img{
    order: 2;
}

.img:has(img){
    background-color: #EEEEEE;
            border-color: black;
    box-shadow: 8px 8px 8px 8px black;
border-radius: 240px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.img {
    transition: transform 0.2s ease-in-out; 
}
.img :hover {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
}

.enjoy h1{
    font-weight: 400px;
font-size: 50px;
font-style: oblique;
font-family: 'Courier New', Courier, monospace;
padding: 10px;
}
.enjoy button{
    padding: 15px;
    border-radius: 20px 20px 20px 45px;
background-color:crimson;
color: white;
gap: 10px;
padding: 15px;
}
.enjoy i{
    border-left:5px solid red;
        border-top:5px solid red;
    border-radius: 15px;
    padding: 8px;
    gap: 10px;
}
.solid{
    position: absolute;
    left: 0;
right: 0;
top: 0;
bottom: 0;
opacity: 0;
display: block;
padding: 15px;
transition: transform 5s ease-in-out;
color: rgb(22, 19, 19);

}
.solid:hover{
transform: translate(0);
opacity: 1;
display: flex;
flex-direction: column;
align-items: end;
justify-content: start;

}
.fff{
    position: relative;

}
.vvv{
    position: absolute;
    left: 0;
right: 0;
top: 0;
bottom: 0;
opacity: 0;
display: block;
padding: 15px;
transition: transform 5s ease-in-out;
color: rgb(22, 19, 19);

}
.vvv:hover{
transform: translate(0);
opacity: 1;
display: flex;
flex-direction: column;
justify-content: start;
align-items: end;

}

.bbb{
    position: relative;
}
.jjj{
    position: absolute;
    left: 0;
right: 0;
top: 0;
bottom: 0;
opacity: 0;
display: block;
padding: 15px;
transition: transform 5s ease-in-out;
color: rgb(54, 20, 20);
}
.jjj:hover{
transform: translate(0);
opacity: 1;
display: flex;
flex-direction: column;
justify-content: start;
align-items: end;

}


.enjoy a{
list-style: none;
text-decoration-style: none;
color: black;
font-size: large;
padding: 7px;
}
.cheffs{
    text-align: center;
    padding: 40px;
}
.cheffs p{
    color: darkgrey;
}
.cheffs h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;

}
.cheffs span{
    color: red;
}
.Our{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}

.photo{
        background-color: white;
    border: 3px solid white;
    box-shadow: 0px 0px 40px rgba(255, 0, 0, 0.253);
    transition: transform 1s ease-in-out;
    position: relative;

}
.photo:hover{
    transform: scale(1.1);
}
.photo h2{
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.photo p{
    color: darkgrey;
}
.chef5{
        background-color: white;
    border: 3px solid white;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.253);
    transition: transform 1s ease-in-out;
}
.chef5:hover{
    transform: scale(1.1);
}
.chef5 h2{
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.chef5 p{
    color: darkgrey;
}
.chef3{
        background-color: white;
    border: 3px solid white;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.253);
    transition: transform 1s ease-in-out;

}
.chef3:hover{
    transform: scale(1.1);
}

.chef3 h2{
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.chef3 p{
    color: darkgrey;
}
.mina{
    background-color: #EEEEEE;
    margin: 0;


}
.meal1{
box-shadow: 0 0 10px rgb(112, 60, 60);

}
.meal2{
box-shadow: 0 0 10px rgb(170, 91, 91);

}
.meal3{
box-shadow: 0 0 10px rgb(105, 56, 56);

}
.meal4{
box-shadow: 0 0 10px rgb(134, 69, 69);

}
.meal5{
box-shadow: 0 0 10px rgb(109, 56, 56);

}
.meal6{
box-shadow: 0 0 10px rgb(160, 79, 79);

}
.meal7{
box-shadow: 0 0 10px rgb(170, 86, 86);
}
.check{
padding: 30px;
    text-align: center;
}
.check p{
    color: darkgray;
}
.check h1{
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}
.check span{
    color: red;
}

.mansory{
    column-count: 3;
    column-gap: 10px;

}

.mansory img{
    width: 100%;
 text-align: center;
    padding: 10px;
}
.face{
    text-align: center;
padding: 20px;
}
iframe{
    width: 100%;

}
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px; 
  padding: 20px;
  width: 100%;

}

.contact-card {
  background-color:#F5F5F5;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-left: 5px solid transparent;
  transition: all 0.3s ease;
}

.icon-box {
  background-color: #ff6347;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 20px;
}

.content h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.content p {
  margin: 5px 0 0;
  font-size: 1rem;
  color: #666;
}

.name-email{
    background-color: #FFFFFF;
    height: 90vh;
}
#text{
    width: 91%;
    margin: 20px;
}
.text{
    text-align: center;
}
.text input{
    margin-top: 20px;
    width: 43%;
    padding: 20px;
    margin: 5px;
}
#word{
    padding: 30px;
    width: 89%;
    height: 100px;
}
.submit{
    padding: 15px;
    width: 150px;
position: relative;
right: 50px;
top: 5px;
background-color: red;
z-index: 0;
}
.submit:hover{
    background-color: rgb(19, 222, 236);
    transition: 1s ;
    z-index: 0;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 3px solid white;
border-radius: 50px;
box-shadow: 7px 7px 7px 7px rgb(59, 55, 55);
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
background-image: url(img/textured-metal-background.jpg);
    color: white;
gap: 20px;
padding: 40px;
}
#Address{
    width: 400px;
    height: 30px;
}
.menu ul{
    display: flex;
    justify-content: space-around;
        text-decoration: none;
        align-items: center;


}
.menu  li {
    list-style: none;
    transition: transform 1s 1s linear;
    flex-wrap: nowrap;

}
.menu:hover{
    transform: scale(1.2);
}
.fady{
    width: 60px;
    padding: 10px;
    background-color: red;
}
.fady:hover{
    background-color: rgb(19, 222, 236);
    transition: 1s ;
    z-index: -1;
  }
  .mealif{
    display: flex;
align-items: center;
padding: 3px;
}
.rrr{
display: flex;
align-items: center;
}
.ppp{
display: flex;
align-items: center;
}
.ccc{
display: flex;
align-items: center;
}